@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    120deg,
    rgb(155, 198, 102),
    rgb(2, 169, 172)
  );
  min-height: 100vh;
  font-family: "Asap", sans-serif;
}

header {
  height: 10vh;
  margin: 3rem 0;
}

h1 {
  font-size: 4.5rem;
  color: white;
  text-align: center;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 35rem;
  height: 4rem;
  border: none;
  font-size: 2.2rem;
  padding: 0 1rem;
}

.todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #fff;
  width: 30rem;
  height: 4rem;
  font-size: 2.2rem;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.btn {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background-color: #00ff00;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn--add {
  width: 5rem;
}

.btn:hover {
  background-color: #009900;
}

.item-delete {
  transform: translateY(10rem);
  opacity: 0;
}
